In [1]:
from ast import Lambda
from html.parser import HTMLParser
from pickle import TRUE
from tkinter.messagebox import QUESTION
from winreg import QueryInfoKey
import pandas as pd
import html_parser as htmlParser
import re as re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
from nltk import pos_tag
import nltk

In [2]:
try:
    Questions = pd.read_csv('Questions.csv')
except:
    Questions = pd.read_csv("Questions.csv",encoding = "ISO-8859-1")

C:\Users\beboz\.conda\envs\computervision\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (1,2,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
Questions = Questions.iloc[:,:7]

In [9]:
Questions.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...

In [10]:
Questions.shape

(1048575, 7)

In [8]:
Questions.to_csv("Questions2.csv")

In [7]:
epochs = 0
def remove_tags(string):
    global epochs
    if epochs % 100000 == 0:
        print(epochs)
    result = re.sub('<.*?>','',string)
    epochs += 1
    return result
Questions['Body']=Questions['Body'].apply(lambda cw : remove_tags(cw))

0

TypeError: expected string or bytes-like object

Id                 3012
OwnerUserId       26747
CreationDate      14261
ClosedDate      1003890
Score             14740
Title             14792
Body              14828
dtype: int64

In [13]:
Questions.drop('ClosedDate',inplace=True,axis=1)

In [20]:
Questions.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,80,26,2008-08-01T13:57:07Z,26,SQLStatement.execute() - multiple queries in o...,I've written a database generation script in S...
1,90,58,2008-08-01T14:41:24Z,144,Good branching and merging tutorials for Torto...,Are there any really good tutorials explaining...
2,120,83,2008-08-01T15:50:08Z,21,ASP.NET Site Maps,Has anyone got experience creating SQL-based A...
3,180,2.08974e+06,2008-08-01T18:42:19Z,53,Function for creating color wheels,This is something I've pseudo-solved many time...
4,260,91,2008-08-01T23:22:08Z,49,Adding scripting functionality to .NET applica...,I have a little game written in C#. It uses a ...

In [16]:
Questions.dropna(subset = ['Body'],inplace=True)

In [17]:
Questions.isnull().sum()

Id                  0
OwnerUserId     13416
CreationDate        0
Score               0
Title               0
Body                0
dtype: int64

In [21]:
import nltk
from nltk.tag import pos_tag
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer,PorterStemmer
from nltk.corpus import wordnet as wn
from nltk.corpus import stopwords

In [24]:
tag_map = {
        'CC':None, # coordin. conjunction (and, but, or)  
        'CD':wn.NOUN, # cardinal number (one, two)             
        'DT':None, # determiner (a, the)                    
        'EX':wn.ADV, # existential ‘there’ (there)           
        'FW':None, # foreign word (mea culpa)             
        'IN':wn.ADV, # preposition/sub-conj (of, in, by)   
        'JJ':wn.ADJ, # adjective (yellow)                  
        'JJR':wn.ADJ,  # adj., comparative (bigger)          
        'JJS':wn.ADJ,  # adj., superlative (wildest)           
        'LS':None, # list item marker (1, 2, One)          
        'MD':None, # modal (can, should)                    
        'NN':wn.NOUN, # noun, sing. or mass (llama)          
        'NNS':wn.NOUN, # noun, plural (llamas)                  
        'NNP':wn.NOUN, # proper noun, sing. (IBM)              
        'NNPS':wn.NOUN, # proper noun, plural (Carolinas)
        'PDT':wn.ADJ, # predeterminer (all, both)            
        'POS':None, # possessive ending (’s )               
        'PRP':None, # personal pronoun (I, you, he)     
        'PRP$':None, # possessive pronoun (your, one’s)    
        'RB':wn.ADV, # adverb (quickly, never)            
        'RBR':wn.ADV, # adverb, comparative (faster)        
        'RBS':wn.ADV, # adverb, superlative (fastest)     
        'RP':[wn.ADJ, wn.ADJ_SAT], # particle (up, off)
        'SYM':None, # symbol (+,%, &)
        'TO':None, # “to” (to)
        'UH':None, # interjection (ah, oops)
        'VB':wn.VERB, # verb base form (eat)
        'VBD':wn.VERB, # verb past tense (ate)
        'VBG':wn.VERB, # verb gerund (eating)
        'VBN':wn.VERB, # verb past participle (eaten)
        'VBP':wn.VERB, # verb non-3sg pres (eat)
        'VBZ':wn.VERB, # verb 3sg pres (eats)
        'WDT':None, # wh-determiner (which, that)
        'WP':None, # wh-pronoun (what, who)
        'WP$':None, # possessive (wh- whose)
        'WRB':None, # wh-adverb (how, where)
        '$':None, #  dollar sign ($)
        '#':None, # pound sign (#)
        '“':None, # left quote (‘ or “)
        '”':None, # right quote (’ or ”)
        '(':None, # left parenthesis ([, (, {, <)
        ')':None, # right parenthesis (], ), }, >)
        ',':None, # comma (,)
        '.':None, # sentence-final punc (. ! ?)
        ':':None # mid-sentence punc (: ; ... – -)
    }

In [26]:
iteration = 0
lemmatizer=WordNetLemmatizer()
def lem(text):
    global iteration
    iteration += 1
    text = text.lower()
    token=word_tokenize(text)
    tags=pos_tag(token)
    w_net_lemma=[]
    for tag in tags:
        try:
            w_net_lemma.append(lemmatizer.lemmatize(tag[0],pos=tag_map[tag[1]]))
        except:
            continue
    if iteration % 10000 == 0:
        print("Iteration: "+ str(iteration))
    return " ".join(w_net_lemma)

In [27]:
    temp = Questions["Body"].apply(lambda x: lem(x))

Iteration: 10000
Iteration: 20000
Iteration: 30000
Iteration: 40000
Iteration: 50000
Iteration: 60000
Iteration: 70000
Iteration: 80000
Iteration: 90000
Iteration: 100000
Iteration: 110000
Iteration: 120000
Iteration: 130000
Iteration: 140000
Iteration: 150000
Iteration: 160000
Iteration: 170000
Iteration: 180000
Iteration: 190000
Iteration: 200000
Iteration: 210000
Iteration: 220000
Iteration: 230000
Iteration: 240000
Iteration: 250000
Iteration: 260000
Iteration: 270000
Iteration: 280000
Iteration: 290000
Iteration: 300000
Iteration: 310000
Iteration: 320000
Iteration: 330000
Iteration: 340000
Iteration: 350000
Iteration: 360000
Iteration: 370000
Iteration: 380000
Iteration: 390000
Iteration: 400000
Iteration: 410000
Iteration: 420000
Iteration: 430000
Iteration: 440000
Iteration: 450000
Iteration: 460000
Iteration: 470000
Iteration: 480000
Iteration: 490000
Iteration: 500000
Iteration: 510000
Iteration: 520000
Iteration: 530000
Iteration: 540000
Iteration: 550000
Iteration: 560000
Iteration: 570000
Iteration: 580000
Iteration: 590000
Iteration: 600000
Iteration: 610000
Iteration: 620000
Iteration: 630000
Iteration: 640000
Iteration: 650000
Iteration: 660000
Iteration: 670000
Iteration: 680000
Iteration: 690000
Iteration: 700000
Iteration: 710000
Iteration: 720000
Iteration: 730000
Iteration: 740000
Iteration: 750000
Iteration: 760000
Iteration: 770000
Iteration: 780000
Iteration: 790000
Iteration: 800000
Iteration: 810000
Iteration: 820000
Iteration: 830000
Iteration: 840000
Iteration: 850000
Iteration: 860000
Iteration: 870000
Iteration: 880000
Iteration: 890000
Iteration: 900000
Iteration: 910000
Iteration: 920000
Iteration: 930000
Iteration: 940000
Iteration: 950000
Iteration: 960000
Iteration: 970000
Iteration: 980000
Iteration: 990000
Iteration: 1000000
Iteration: 1010000
Iteration: 1020000
Iteration: 1030000

In [29]:
Questions["Body"] = temp

In [30]:
Questions.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,80,26,2008-08-01T13:57:07Z,26,SQLStatement.execute() - multiple queries in o...,i 've write database generation script in sql ...
1,90,58,2008-08-01T14:41:24Z,144,Good branching and merging tutorials for Torto...,be there really good tutorial explain branchin...
2,120,83,2008-08-01T15:50:08Z,21,ASP.NET Site Maps,have anyone get experience create sql-based as...
3,180,2.08974e+06,2008-08-01T18:42:19Z,53,Function for creating color wheels,be something i 've pseudo-solved many time nev...
4,260,91,2008-08-01T23:22:08Z,49,Adding scripting functionality to .NET applica...,i have little game write in c use database as ...

In [31]:
Questions.to_csv("Preprocessed_questions.csv")