In [1]:
import pandas as pd

In [2]:
Tags = pd.read_csv("Filtered_tags.csv")

In [9]:
Tags.head()

   Unnamed: 0   Id        Tag
0           7  120        sql
1           8  120    asp.net
2          10  180  algorithm
3          14  260         c#
4          15  260       .net

In [3]:
Tags["Tag"].value_counts()

javascript       124155
java             115212
c#               101186
php               98808
android           90659
                  ...
google-chrome      4336
jsp                4312
symfony2           4228
python-3.x         4222
tsql               4158
Name: Tag, Length: 100, dtype: int64

In [5]:
Tags.shape

(1755529, 3)

In [6]:
Combined = pd.read_csv("Combined.csv")

C:\Users\beboz\.conda\envs\computervision\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
Combined.shape

(1033747, 4)

In [ ]:
#[0,0,0,1,0,0,1,0,......,0,1,1]