In [1]:
import pandas as pd

In [60]:
try:
    Answers = pd.read_csv('Preprocessed_answers.csv')
except:
    Answers = pd.read_csv("Preprocessed_answers.csv",encoding = "ISO-8859-1")
try:
    Questions = pd.read_csv('Preprocessed_questions.csv')
except:
    Questions = pd.read_csv("Preprocessed_questions.csv",encoding = "ISO-8859-1")

C:\Users\beboz\.conda\envs\computervision\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (1,2,4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [61]:
Answers.head()

,Unnamed: 0,ParentId,Score,Content
0,0,90,13,version control with subversion very good reso...
1,1,80,12,i wind use be kind of hack actually work prett...
2,2,180,1,i 've read somewhere human eye n't distinguish...
3,3,260,4,i think about i soon figure that domain-specif...
4,4,260,28,oleg shilo c script solution at code project r...

In [62]:
Questions.head()

,Unnamed: 0,Id,OwnerUserId,CreationDate,Score,Title,Body
0,0,80,26,2008-08-01T13:57:07Z,26,SQLStatement.execute() - multiple queries in o...,i 've write database generation script in sql ...
1,1,90,58,2008-08-01T14:41:24Z,144,Good branching and merging tutorials for Torto...,be there really good tutorial explain branchin...
2,2,120,83,2008-08-01T15:50:08Z,21,ASP.NET Site Maps,have anyone get experience create sql-based as...
3,3,180,2.08974e+06,2008-08-01T18:42:19Z,53,Function for creating color wheels,be something i 've pseudo-solved many time nev...
4,4,260,91,2008-08-01T23:22:08Z,49,Adding scripting functionality to .NET applica...,i have little game write in c use database as ...

In [63]:
Answers = Answers.iloc[:,1:]

In [64]:
Questions = Questions.iloc[:,1:]

In [65]:
Answers["Id"] = Answers["ParentId"]

In [66]:
Answers.drop(columns = ["ParentId"],inplace = True)

In [67]:
Answers["AnswerScore"] = Answers["Score"]
Answers.drop(columns = ["Score"],inplace = True)

In [68]:
for item in Answers["Content"]:
    if not isinstance(item, str):
        print(item)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [71]:
Answers.isnull().sum()

Content        0
Id             0
AnswerScore    0
dtype: int64

In [70]:
Answers.dropna(subset = ['Content'],inplace=True)

In [72]:
epochs = 0
def merge(x):
    global epochs
    epochs += 1
    if epochs % 100000 == 0:
        print(epochs)
    return ' '.join(x)

In [73]:
Answers['Content'] = Answers.groupby(['Id'])['Content'].transform(lambda x: merge(x))
Answers = Answers.drop_duplicates()

100000
200000
300000
400000
500000

In [74]:
Answers.head()

                                             Content   Id  AnswerScore
0  version control with subversion very good reso...   90           13
1  i wind use be kind of hack actually work prett...   80           12
2  i 've read somewhere human eye n't distinguish...  180            1
3  i think about i soon figure that domain-specif...  260            4
4  i think about i soon figure that domain-specif...  260           28

In [84]:
Answers.iloc[4]["Content"]

"i think about i soon figure that domain-specific-language dsl be bit too much essentially need interact with gamestate in possibly unpredictable way for example card have rule card enter play undead minion gain +3 attack against fly enemy except enemy be bless as trading card game be turn base gamestate manager fire onstagex event let card modify other card gamestate in way card need if i try create dsl i have implement rather large feature set possibly constantly update shift maintenance work part without actually remove 's i want stay with real .net language essentially be able just fire event let card manipulate gamestate in way within limit of code access security oleg shilo c script solution at code project really be great introduction provide script ability in application different approach be consider language be specifically build for script such as ironruby ironpython lua ironpython ironruby be available today for guide embed ironpython read embed ironpython script support in exist app in 10 easy step lua be scripting language commonly use in game there be lua compiler for .net available from codeplex http //www.codeplex.com/nua that codebase be great read if want learn about build compiler in .net different angle altogether be try powershell there be numerous example of embed powershell into application here 's thorough project on topic powershell tunnel be able use ironruby for otherwise i suggest have directory place precompiled assembly then have reference in db assembly class use reflection load proper assembly at runtime if really want compile at run-time use codedom then use reflection load dynamic assembly msdn article help use of dlr language provide way really easily host own scripting platform however do n't have use scripting language for use c compile with c code provider as long as load in own appdomain load unload heart content if do n't want use dlr use boo have interpreter consider script.net s project on codeplex with boo solution choose between compile script use interpreter boo make nice scripting language have flexible syntax extensible language via open compiler architecture script.net look nice too though easily extend language as well as open source project use very friendly compiler generator irony.net main application that division sell do something very similar provide client customisations mean that i n't post source have c application that load dynamic vb.net script although .net language be easily support vb be choose because customisation team come from asp background use .net codedom compile script from database use vb codedomprovider annoyingly default .net 2 if want support 3.5 feature need pass dictionary with compilerversion = v3.5 constructor use codedomprovider.compileassemblyfromsource method compile pass setting force compile in memory only result in hundred of assembly in memory put all dynamic class code together into single assembly recompile whole lot change have advantage that add flag compile on disk with pdb for 're test allow debug through dynamic code i suggest use luainterface as have fully implement lua appear that nua be not complete likely do not implement very useful functionality coroutines etc if want use of outside prepacked lua module i suggest use something along line of 1.5.x as oppose 2.x series build fully manage code not expose necessary c api next version of .net 5.0 have have lot of talk about open compiler as service make thing like direct script evaluation possible i 'm use luainterface1.3 + lua 5.0 for net1.1 application issue with boo be that everytime parse/compile/eval code on fly create set of boo class so get memory leak lua in other hand do not do so 's very very stable work wonderful i pass object from c lua backwards so far i havent put in prod yet seem very promising update i do have memory leak issue in prod use luainterface + lua 5.0 therefore i use lua 5.2 link directly into c with dllimport memory leak be inside luainterface library 5.2 from http //luabinaries.sourceforge.net http //sourceforge.net/projects/luabinaries/files/5.2/windows % 20libraries/dynamic/lua-5.2_win32_dll7_lib.zip/download once i do memory leak be go app be very stable"

In [85]:
Answers.iloc[3]["Content"]

"i think about i soon figure that domain-specific-language dsl be bit too much essentially need interact with gamestate in possibly unpredictable way for example card have rule card enter play undead minion gain +3 attack against fly enemy except enemy be bless as trading card game be turn base gamestate manager fire onstagex event let card modify other card gamestate in way card need if i try create dsl i have implement rather large feature set possibly constantly update shift maintenance work part without actually remove 's i want stay with real .net language essentially be able just fire event let card manipulate gamestate in way within limit of code access security oleg shilo c script solution at code project really be great introduction provide script ability in application different approach be consider language be specifically build for script such as ironruby ironpython lua ironpython ironruby be available today for guide embed ironpython read embed ironpython script support in exist app in 10 easy step lua be scripting language commonly use in game there be lua compiler for .net available from codeplex http //www.codeplex.com/nua that codebase be great read if want learn about build compiler in .net different angle altogether be try powershell there be numerous example of embed powershell into application here 's thorough project on topic powershell tunnel be able use ironruby for otherwise i suggest have directory place precompiled assembly then have reference in db assembly class use reflection load proper assembly at runtime if really want compile at run-time use codedom then use reflection load dynamic assembly msdn article help use of dlr language provide way really easily host own scripting platform however do n't have use scripting language for use c compile with c code provider as long as load in own appdomain load unload heart content if do n't want use dlr use boo have interpreter consider script.net s project on codeplex with boo solution choose between compile script use interpreter boo make nice scripting language have flexible syntax extensible language via open compiler architecture script.net look nice too though easily extend language as well as open source project use very friendly compiler generator irony.net main application that division sell do something very similar provide client customisations mean that i n't post source have c application that load dynamic vb.net script although .net language be easily support vb be choose because customisation team come from asp background use .net codedom compile script from database use vb codedomprovider annoyingly default .net 2 if want support 3.5 feature need pass dictionary with compilerversion = v3.5 constructor use codedomprovider.compileassemblyfromsource method compile pass setting force compile in memory only result in hundred of assembly in memory put all dynamic class code together into single assembly recompile whole lot change have advantage that add flag compile on disk with pdb for 're test allow debug through dynamic code i suggest use luainterface as have fully implement lua appear that nua be not complete likely do not implement very useful functionality coroutines etc if want use of outside prepacked lua module i suggest use something along line of 1.5.x as oppose 2.x series build fully manage code not expose necessary c api next version of .net 5.0 have have lot of talk about open compiler as service make thing like direct script evaluation possible i 'm use luainterface1.3 + lua 5.0 for net1.1 application issue with boo be that everytime parse/compile/eval code on fly create set of boo class so get memory leak lua in other hand do not do so 's very very stable work wonderful i pass object from c lua backwards so far i havent put in prod yet seem very promising update i do have memory leak issue in prod use luainterface + lua 5.0 therefore i use lua 5.2 link directly into c with dllimport memory leak be inside luainterface library 5.2 from http //luabinaries.sourceforge.net http //sourceforge.net/projects/luabinaries/files/5.2/windows % 20libraries/dynamic/lua-5.2_win32_dll7_lib.zip/download once i do memory leak be go app be very stable"

In [88]:
Answers = Answers.drop_duplicates(subset='Id', keep="last")

In [97]:
Answers.head()

                                              Content    Id  AnswerScore
8   're do be fine do n't let people confuse if 'v...   470            8
20  i 'm partway solution with entry on msdn do n'...   810            4
29  use program handle find process have lock on f...  1040           11
57  be possible skip step of create empty database...  1600            2
66  rex i suspect good place start look be solutio...  1010            1

In [122]:
Combined = pd.merge(Questions, Answers, on="Id", how="left")

In [123]:
Combined.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body,Content,AnswerScore
0,80,26,2008-08-01T13:57:07Z,26,SQLStatement.execute() - multiple queries in o...,i 've write database generation script in sql ...,i wind use be kind of hack actually work prett...,1.0
1,90,58,2008-08-01T14:41:24Z,144,Good branching and merging tutorials for Torto...,be there really good tutorial explain branchin...,version control with subversion very good reso...,19.0
2,120,83,2008-08-01T15:50:08Z,21,ASP.NET Site Maps,have anyone get experience create sql-based as...,jeff prosise version from msdn magazine work p...,9.0
3,180,2.08974e+06,2008-08-01T18:42:19Z,53,Function for creating color wheels,be something i 've pseudo-solved many time nev...,i 've read somewhere human eye n't distinguish...,0.0
4,260,91,2008-08-01T23:22:08Z,49,Adding scripting functionality to .NET applica...,i have little game write in c use database as ...,i think about i soon figure that domain-specif...,2.0

In [126]:
Combined.isnull().sum()

Id                   0
OwnerUserId      13416
CreationDate         0
Score                0
Title                0
Body                 6
Content              0
AnswerScore     783592
dtype: int64

In [125]:
Combined["Content"].fillna("",inplace = True)

In [127]:
Combined.dtypes

Id               object
OwnerUserId      object
CreationDate     object
Score            object
Title            object
Body             object
Content          object
AnswerScore     float64
dtype: object

In [128]:
Combined["Body"] = Combined["Body"] + " " + Combined["Content"]

In [192]:
Tags = pd.read_csv("Tags.csv")

In [193]:
classes = Tags["Tag"].value_counts()[:100].index.tolist()

In [182]:
def filter(label):
    for item in classes:
        if label.lower() == item.lower():
            return label
    return None

In [196]:
Tags.isnull().sum()

Id           0
Tag    1995465
dtype: int64

In [197]:
classes

['javascript',
 'java',
 'c#',
 'php',
 'android',
 'jquery',
 'python',
 'html',
 'c++',
 'ios',
 'mysql',
 'css',
 'sql',
 'asp.net',
 'objective-c',
 'ruby-on-rails',
 '.net',
 'c',
 'iphone',
 'angularjs',
 'arrays',
 'sql-server',
 'json',
 'ruby',
 'r',
 'ajax',
 'regex',
 'xml',
 'node.js',
 'asp.net-mvc',
 'linux',
 'django',
 'wpf',
 'database',
 'swift',
 'xcode',
 'string',
 'excel',
 'vb.net',
 'windows',
 'spring',
 'wordpress',
 'eclipse',
 'html5',
 'multithreading',
 'oracle',
 'git',
 'facebook',
 'forms',
 'bash',
 'image',
 'osx',
 'twitter-bootstrap',
 'mongodb',
 'winforms',
 'vba',
 'algorithm',
 'apache',
 'performance',
 'matlab',
 'swing',
 'visual-studio',
 'entity-framework',
 'linq',
 'postgresql',
 'hibernate',
 'list',
 'python-2.7',
 'css3',
 'scala',
 'ruby-on-rails-3',
 'qt',
 '.htaccess',
 'web-services',
 'function',
 'sqlite',
 'perl',
 'excel-vba',
 'shell',
 'rest',
 'api',
 'uitableview',
 'sql-server-2008',
 'laravel',
 'codeigniter',
 'file',
 'cordova',
 'google-maps',
 'maven',
 'visual-studio-2010',
 'validation',
 'class',
 'wcf',
 'unit-testing',
 'sockets',
 'google-chrome',
 'jsp',
 'symfony2',
 'python-3.x',
 'tsql']

In [198]:
Tags.dropna(subset = ['Tag'],inplace=True)

In [195]:
Tags['Tag'] = Tags['Tag'].apply(lambda x: None if x not in classes else x)

In [199]:
Tags.shape

(1755529, 2)

In [202]:
Tags.head()

     Id        Tag
7   120        sql
8   120    asp.net
10  180  algorithm
14  260         c#
15  260       .net

In [203]:
Tags.to_csv("Filtered_tags.csv")

In [204]:
Combined.drop(columns = ["OwnerUserId","CreationDate","Score","AnswerScore","Content"],inplace = True)

In [205]:
Combined.head()

,Id,Title,Body
0,80,SQLStatement.execute() - multiple queries in o...,i 've write database generation script in sql ...
1,90,Good branching and merging tutorials for Torto...,be there really good tutorial explain branchin...
2,120,ASP.NET Site Maps,have anyone get experience create sql-based as...
3,180,Function for creating color wheels,be something i 've pseudo-solved many time nev...
4,260,Adding scripting functionality to .NET applica...,i have little game write in c use database as ...

In [206]:
Combined.to_csv("Combined.csv")